<div class="toc">
    <h6>On this page</h6>
    <ul>
        <li><a href="#1-mapping-specification">1. Mapping Specifications</a></li>
        <li><a href="#2-mappings-tables">2. Mappings Tables</a></li>
        <li><a href="#3-filterable-quick-ref-table">2.1 Quick Reference Table</a></li>
        <li><a href="#4-dwc-mappings-table">2.2 Darwin Core Mappings</a></li>
        <li><a href="#5-abcd-mappings-table">2.3 ABCD Mappings</a></li>
        <li><a href="#top"><em>Return to Top</em></a></li>
    </ul>
</div>

