<h3 id="2-glossary">MIDS Glossary</h3>
    <div class="glossary-wrapper">
        <div class="glossary grid-container">
            {% for meta in glossary_metadata.glossary %}
                <div class="glossary-item">
                    <h5 id="{{ meta.id }}">{{ meta.prefLabel }}</h5>
                    <p class="definition">{{ meta.definition }}</p>
                     {% if meta.sources %}
                        <p><span class="sources">Sources: {{ meta.sources }}</span></p>
                    {%  endif  %}
                </div>
            {% endfor %}
        </dl>
    </div>
</div>
<style>
    .glossary.grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    .glossary-item h5 {
        margin-bottom: 0.5rem;
    }
    .definition {
        margin-bottom: .5rem;
    }
    .sources {
        line-height: 1.2;
        color: rgb(100,100,100);
        font-size: 0.9rem;
        font-style: italic;
    }
</style>